:root{
    --footer-height: 230.3px;
}

#footer{
    background-color: rgb(140, 202, 250);
    display: flex;
    position: absolute;
    width: 100%;    
    bottom: 0px;
    height: fit-content;
    flex-direction: column;
    padding-top: 30px;
}

.pushUpContent{
    height: calc(var(--footer-height) * 2 + 100px);
    background-color: white;
    color: white;
}

#footer ul{
    list-style: none;
    padding-left: 0;
}

