@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
body{
    margin: 0;
    position: relative;
    min-height: 150vh;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid rgb(131, 188, 237);
}

th{
    text-align: left;
}

input[type=button]{
    color: rgb(69, 50, 239);
    background-color: rgb(135, 214, 243);
    border: 2px solid rgb(69, 50, 239);
    border-radius: 5px;
}

input{
    border: 2px solid rgb(131, 188, 237);
    border-radius: 3px;
}

caption{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(131, 188, 237);
}